#no env for u
.env

# watch subprocess files - powershell
powershell-yarn-error.txt
powershell-yarn-output.txt

#any node thing ever
node_modules/

#electron builder
dist/

#
electronbuild-resources/
electronbuild-output/

yarn-error.log
.vscode
